<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">
			Account:
		</h3>
	</div>
	<div class="panel-body">
		<ul id="myTab" class="nav nav-tabs">
			<li class="active">
				<a href="#info" data-toggle="tab">
					Personal Info
				</a>
			</li>
			<li><a href="#review" data-toggle="tab">Reviews</a></li>
			<li><a href="#favourite" data-toggle="tab">Favourite</a></li>
		</ul>
		<div id="myTabContent" class="tab-content">
			<div class="tab-pane fade in active" id="info">
				<div style="padding: 100px 100px 10px;">
					<form class="bs-example bs-example-form" role="form">
						<div class="input-group">
							<span class="input-group-addon">First Name:</span>
							<input type="text" class="form-control" disabled="true" value="{{user.firstName}}">
						</div>
						<div class="input-group">
							<span class="input-group-addon">Last Name:</span>
							<input type="text" class="form-control" disabled="true" value="{{user.lastName}}">
						</div>
						{{!-- <div class="input-group">
							<span class="input-group-addon">Age:</span>
							<input type="text" class="form-control" disabled="true" value="{{user.age}}">
						</div> --}}
						<div class="input-group">
							<span class="input-group-addon">Email:</span>
							<input type="text" class="form-control" disabled="true" value="{{user.email}}">
						</div>
						{{!-- <div class="input-group">
							<span class="input-group-addon">Street:</span>
							<input type="text" class="form-control" disabled="true" value="{{user.street}}">
						</div>
						<div class="input-group">
							<span class="input-group-addon">House Number:</span>
							<input type="text" class="form-control" disabled="true" value="{{user.house_number}}">
						</div>
						<div class="input-group">
							<span class="input-group-addon">City:</span>
							<input type="text" class="form-control" disabled="true" value="{{user.city}}">
						</div>
						<div class="input-group">
							<span class="input-group-addon">State:</span>
							<input type="text" class="form-control" disabled="true" value="{{user.state}}">
						</div>
						<div class="input-group">
							<span class="input-group-addon">Pin Code:</span>
							<input type="text" class="form-control" disabled="true" value="{{user.pincode}}">
						</div> --}}
					</form>
				</div>
			</div>
			<div class="tab-pane fade" id="review">
				<p>All the reviews</p>
			</div>
			<div class="tab-pane fade" id="favourite">
				<p>Favourite houses</p>
			</div>
		</div>
		
	</div>
</div>