<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">
			Account:
		</h3>
		<div class="profilePic">
			<img src="{{user.profilePicture}}" onclick="imageOnClick()" alt="user">
		</div>
		<label for="updatepicture" style="font-size:10px; color: grey;">Click on change Avatar</label>
		<input type="file" style="display:none" id="updatepicture" name="updatepicture" onchange="updateimage()"
			accept=".jpg, .jpeg, .png">
	</div>
	<div class="panel-body">
		<ul id="myTab" class="nav nav-tabs">
			<li class="active">
				<a href="#info" data-toggle="tab">
					Personal Info
				</a>
			</li>
			<li><a href="#review" data-toggle="tab">Reviews</a></li>
			<li><a href="#comment" data-toggle="tab">Comments</a></li>
			<li><a href="#favourite" data-toggle="tab">Favourites</a></li>
		</ul>
		<div id="myTabContent" class="tab-content">
			<div class="tab-pane fade in active" id="info">
				<div>
					<form id="updateForm">
						<div class="form-row">
							<div class="form-group col-md-6">
								<label for="firstName">First Name</label>
								<input maxlength="50" type="text" name="firstName" class="form-control" id="firstName"
									placeholder="First Name" value="{{user.firstName}}" disabled="disabled">
							</div>
							<div class="form-group col-md-6">
								<label for="lastName">Last Name</label>
								<input type="text" maxlength="50" name="lastName" class="form-control" id="lastName"
									placeholder="Last Name" value="{{user.lastName}}" disabled="disabled">
							</div>
						</div>

						<div class="form-row">
							<div class="form-group col-md-6">
								<label for="email">Email</label>
								<input type="email" maxlength="50" name="email" class="form-control" id="email" placeholder="Email" value="{{user.email}}" disabled="disabled">
							</div>
							<div class="form-group col-md-6">
								<label for="password">Password</label>
								<input type="password" maxlength="50" name="password" class="form-control" id="password"
									placeholder="******" disabled="disabled"> 
							</div>
						</div>

						<div class="form-row">
							<div class="form-group col-md-6">
								<label for="street">street</label>
								<input type="text" maxlength="50" name="street" class="form-control" id="street" placeholder="street" value="{{user.street}}" disabled="disabled">
							</div>
							<div class="form-group col-md-6">
								<label for="house_number">house_number</label>
								<input type="text" maxlength="50" name="house_number" class="form-control" id="house_number" placeholder="housenumber" value="{{user.house_number}}" disabled="disabled">
							</div>
						</div>

						<div class="form-row">
							<div class="form-group col-md-6">
								<label for="city">city</label>
								<input type="text" maxlength="50" name="city" class="form-control" id="city"
									placeholder="city" value="{{user.city}}" disabled="disabled">
							</div>
							<div class="form-group col-md-6">
								<label for="state">state</label>
								<input type="text" maxlength="50" name="state" class="form-control" id="state" placeholder="state" value="{{user.state}}" disabled="disabled">
							</div>
						</div>

						<div class="form-row">
							<div class="form-group col-md-6">
								<label for="pincode">pincode</label>
								<input type="text" maxlength="50" name="pincode" class="form-control" id="pincode"
									placeholder="pincode" value="{{user.pincode}}" disabled="disabled">
							</div>
							<div class="form-group col-md-6">
								<label for="age">age</label>
								<input type="text" maxlength="50" name="age" class="form-control" id="age" placeholder="age" value="{{user.age}}" disabled="disabled">
							</div>
						</div>
						<div class="text-center">
							<button id="toUpdateButton" type="button" class="btn btn-primary" style="width: 200px;" onclick = "updateInfo()">Click to update</button>
						</div>
					</form>
				</div>
				<br/>
				<button type="button" id="deleteButton" onclick="deleteAccount()" class="btn btn-danger"> Delete Your
					Account</button>

			</div>
			<div class="tab-pane fade" id="review">
				{{#each reviews}}
				<div class="panel panel-default">
					<div class="panel-body">
						<p id="rating">Rating: {{this.rating}} </p>
						<p id="reviewText">Reviews:{{this.reviewText}} </p>
						<a href="/house/{{this.houseId}}">View the Review and Comments.</a>
					</div>
				</div>
				{{/each}}
			</div>

			<div class="tab-pane fade" id="comment">
				{{#each comments}}
				<div class="panel panel-default">
					<div class="panel-body">
						<p id="rating">Text: {{this.text}} </p>
					</div>
				</div>
				{{/each}}
			</div>

			<div class="tab-pane fade" id="favourite">
				{{#each list}}

				<div class="col-md-4 house">
					<div class="cover-container">

						<img class="cover-item" src="{{this.profilePicture.[0]}}" alt="house">

					</div>
					<div>
						<p class="paraClass" id="address"> {{houseNumber}} {{street}} <br> {{city}}, {{state}},
							{{pincode}} </p>
					</div>
					<div>
						<p class="paraClass" id="priceInfo">
							Rent: ${{rent}}/mo <br>
							{{houseType.type}} | {{houseType.bedroom}} Bedroom(s)
						</p>
					</div>

					<a href="house/{{this._id}}">View Details</a>
				</div>


				{{/each}}
			</div>
		</div>
	</div>
</div>


<script src="/public/js/profilePicture.js"></script>
<script	src="/public/js/account.js"></script>