<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">
			Account:
		</h3>
		<div class="profilePic">
			<img src="/public/image/{{user.profilePicture}}" onclick="imageOnClick()" alt="user">
		</div>
		<label for="profilepicture" style="font-size:1px; color: grey;">Click on change Avatar</label>
		<input type="file" style="display:none" id="updatepicture" name="updatepicture" onchange="updateimage()"
			accept=".jpg, .jpeg, .png">
	</div>
	<div class="panel-body">
		<ul id="myTab" class="nav nav-tabs">
			<li class="active">
				<a href="#info" data-toggle="tab">
					Personal Info
				</a>
			</li>
			<li><a href="#review" data-toggle="tab">Reviews</a></li>
			<li><a href="#comment" data-toggle="tab">Comments</a></li>
			<li><a href="#favourite" data-toggle="tab">Favourites</a></li>
		</ul>
		<div id="myTabContent" class="tab-content">
			<div class="tab-pane fade in active" id="info">
				<div style="padding: 10px 100px 10px;">
					<form class="bs-example bs-example-form" role="form">
						<div class="input-group">
							<span class="input-group-addon">First Name:</span>
							<input type="text" class="form-control" disabled="true" value="{{user.firstName}}">
						</div>
						<div class="input-group">
							<span class="input-group-addon">Last Name:</span>
							<input type="text" class="form-control" disabled="true" value="{{user.lastName}}">
						</div>
						<div class="input-group">
							<span class="input-group-addon">Age:</span>
							<input type="text" class="form-control" disabled="true" value="{{user.age}}">
						</div>
						<div class="input-group">
							<span class="input-group-addon">Email:</span>
							<input type="text" class="form-control" disabled="true" value="{{user.email}}">
						</div>
						<div class="input-group">
							<span class="input-group-addon">Street:</span>
							<input type="text" class="form-control" disabled="true" value="{{user.street}}">
						</div>
						<div class="input-group">
							<span class="input-group-addon">House Number:</span>
							<input type="text" class="form-control" disabled="true" value="{{user.house_number}}">
						</div>
						<div class="input-group">
							<span class="input-group-addon">City:</span>
							<input type="text" class="form-control" disabled="true" value="{{user.city}}">
						</div>
						<div class="input-group">
							<span class="input-group-addon">State:</span>
							<input type="text" class="form-control" disabled="true" value="{{user.state}}">
						</div>
						<div class="input-group">
							<span class="input-group-addon">Pin Code:</span>
							<input type="text" class="form-control" disabled="true" value="{{user.pincode}}">
						</div>
					</form>
				</div>

				<button type="button" id="deleteButton" onclick="deleteAccount()" class="btn btn-default"> Delete Your
					Account</button>

			</div>
			<div class="tab-pane fade" id="review">
				{{#each reviews}}
				<div class="panel panel-default">
					<div class="panel-body">
						<p id="rating">Rating: {{this.rating}} </p>
						<p id="reviewText">Reviews:{{this.reviewText}} </p>
						<a href="house/{{this.houseId}}">View the Review and Comments.</a>
					</div>
				</div>
				{{/each}}
			</div>

			<div class="tab-pane fade" id="comment">
				{{#each comments}}
				<div class="panel panel-default">
					<div class="panel-body">
						<p id="rating">Text: {{this.text}} </p>
					</div>
				</div>
				{{/each}}
			</div>

			<div class="tab-pane fade" id="favourite">
				{{#each list}}

				<div class="col-md-4 house">
					<div class="cover-container">

						<img class="cover-item" src="{{this.profilePicture.[0]}}" alt="house">

					</div>
					<div>
						<p class="paraClass" id="address"> {{houseNumber}} {{street}} <br> {{city}}, {{state}},
							{{pincode}} </p>
					</div>
					<div>
						<p class="paraClass" id="priceInfo">
							Rent: ${{rent}}/mo <br>
							{{houseType.type}} | {{houseType.bedroom}} Bedroom(s)
						</p>
					</div>

					<a href="house/{{this._id}}">View Details</a>
				</div>


				{{/each}}
			</div>
		</div>
	</div>
</div>


<script type="text/javascript" src="/public/js/profilePicture.js"></script>
<script type="text/javascript" src="/public/js/account.js"></script>