<div class="houseListPage">
    <h1 id="title"> House List Page </h1>

    <!--
        Content on page:
            Displays a grid view of houses that match user criteria
            Each grid square will contain:
                Links to individual house pages
                Photo of the house
                Brief description

        So without CSS the image size won't be regulated and it will all
        look like a long list of course

        As of right now, this code will display all the houses in the collection
        We will change this to houses that match the user criteria only of course
      -->

    <!-- CSS in houseList.css -->

    <div class="grid-container">
        <div class="grid-item">

            {{#each list}}


            <div class="cover-container">
                <img class="cover-item" src="{{this.profilePicture.[0]}}" alt="house">
            </div>

            <div>
                <p class="paraClass" id="address"> {{houseNumber}} {{street}} <br> {{city}}, {{state}}, {{pincode}} </p>

                <div>
                    <p class="paraClass" id="priceInfo">
                        Rent: ${{rent}}/mo <br>
                        {{houseType.type}} | {{houseType.bedroom}} Bedroom(s)
                    </p>
                </div>

                <a href="{{this._id}}">View Details</a>

                <br>

                {{#if this.canUpdate}}
                <button id="edit" + {{this._id}} class="editComment" onclick="editHouse()" value={{this._id}}><a
                        href="/house/add/{{this._id}}">Edit</a></button>

                <button type=" button" id="delete" + {{this._id}} class="deleteComment" onClick="deleteHouse()"
                    value={{this._id}}>Delete</button>
                {{/if}}



            </div>
            {{/each}}

            {{#if emptySearch}}
            <div>
                <p class="emptySearchList" id="emptySearchList">
                    No result found for given search.
                </p>
            </div>
            {{/if}}

            {{#if userAddedZeroHouse}}
            <div>
                <p class="emptySearchList" id="addHouseList">
                    No house(s) added by login user.A user can update only those house(s) that he/she added.
                </p>
            </div>
            {{/if}}

        </div>
    </div>