<div class="houseListPage">
    <h1 id="title"> House List Page </h1>

    <!--
        Content on page:
            Displays a grid view of houses that match user criteria
            Each grid square will contain:
                Links to individual house pages
                Photo of the house
                Brief description
      -->

    <!-- CSS in houseList.css -->

    <div class="form-inline houseList col-md-12">
        {{#each list}}
        <div class="col-md-4 house">
            <div class="cover-container">
                <img class="cover-item" src="{{this.profilePicture.[0]}}" alt="house">
            </div>

            <div>
                <p class="paraClass"> {{houseNumber}} {{street}} <br> {{city}}, {{state}}, {{pincode}} </p>

                <div>
                    <p class="paraClass">
                        Rent: ${{rent}}/mo <br>
                        {{houseType.type}} | {{houseType.bedroom}} Bedroom(s)
                    </p>
                </div>

                <a href="{{this._id}}">View Details</a>

                <br>

                {{#if this.canUpdate}}
                <input type="button" value="Edit" onClick="javascript:location.href = '/house/add/{{this._id}}'"
                    class="editComment" />


                <button id="delete{{this._id}}" class="deleteComment" onClick="deleteHouse()"
                    value={{this._id}}>Delete</button>
                {{/if}}



            </div>
        </div>
        {{/each}}

        {{#if emptySearch}}
        <div>
            <p class="emptySearchList" id="emptySearchList">
                No result found for given search.
            </p>
        </div>
        {{/if}}

        {{#if userAddedZeroHouse}}
        <div>
            <p class="emptySearchList" id="addHouseList">
                No house(s) added by login user.A user can update only those house(s) that he/she added.
            </p>
        </div>
        {{/if}}

    </div>
</div>