<div class="individualHousePage">
    <h1 id="title"> It's an individual house</h1>

    <!-- 
        Order of content on page:
            Picture of house or location on map maybe
            Address
            rent with the lease duration in one row
            Description
            Other amenities
            Pet friendly and parking available in one row

        This list of content will change as we figure stuff out,
        this is just a starter for now
        Not to mention css will really help with the look
    -->

    <!-- 
        Eventually, we will want to keep our styling in a seperate css file
        We will want to put our scripts in seperate javascript files as well
        But this will suffice for now, temporarily
    -->

    <div id="map" style="height: 400px; width: 80%;"></div>
    <div id="latitude" hidden=true>{{latitude}}</div>
    <div id="longitude" hidden=true>{{longitude}}</div>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC5Y2OeJZ_gqoeUxehJ6BaKdONCF0g1JRU&callback=initMap">
        </script>
    <br>
    <br>

    <div class="cover-container">
        {{#each houseImage}}
        <img class="cover-item" src="{{this}}" alt="house" style="width:40%">
        {{/each}}
    </div>

    <div class=" houseInfo">
        <p id="address"> {{houseNumber}} {{street}} <br> {{city}}, {{state}}, {{zip}} </p>
        <p id="priceInfo"> Rent: ${{rent}} <br> Lease duration: {{startDate}} - {{endDate}} </p>
        <p id="houseDescription"> {{description}} </p>
        <p id="houseMisc"> {{amenities}} <br> Pet Friendly: {{pet}} <br> Parking Available: {{park}}</p>
    </div>
    <button id="favButton" value="{{houseId}}" class="fav"> Add Favourite</button>
    <br>
    <br>
</div>