<div class="individualHousePage">
    <h1 id="title"> It's an individual house</h1>

    <!-- 
        Order of content on page:
            Picture of house or location on map maybe
            Address
            rent with the lease duration in one row
            Description
            Other amenities
            Pet friendly and parking available in one row

        This list of content will change as we figure stuff out,
        this is just a starter for now
        Not to mention css will really help with the look
    -->

    <!-- CSS in housePage.css -->

    <div class="cover-container">
        <img class="cover-item" src="{{this.houseImage}}" alt="house">
    </div>

    <div id="map"></div>
    <div id="latitude" hidden=true>{{latitude}}</div>
    <div id="longitude" hidden=true>{{longitude}}</div>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC5Y2OeJZ_gqoeUxehJ6BaKdONCF0g1JRU&callback=initMap">
        </script>
    <br>
    <br>


    <div class=" houseInfo">
        <p id="address"> {{houseNumber}} {{street}} <br> {{city}}, {{state}}, {{zip}} </p>
        <p id="priceInfo"> Rent: ${{rent}} <br> Lease duration: {{startDate}} - {{endDate}} </p>
        <p id="houseDescription"> {{description}} </p>
        <p id="houseMisc"> {{amenities}} <br> Pet Friendly: {{pet}} <br> Parking Available: {{park}}</p>
    </div>

    {{#if isFavHouse}}
    <button id="favButton" value="{{houseId}}" class="fav">Favourite</button>
    {{else}}
    <button id="favButton" value="{{houseId}}" class="fav"> Add Favourite</button>
    {{/if}}
    
    <br>
    <br>
</div>

<!--Reviews-->
<div class = "reviews">
    <h2>{{aveRate}} out of 5</h2>
    {{#each reviewsList}}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                {{this.username}}
            </h3>
        </div>
        <div class="panel-body">
            <h3>{{this.reviewData.rating}} points</h3>
            <h2>{{this.reviewData.reviewText}}</h2>
            <div class = "commentInRevievs">
                <input type="hidden" name="reviewId" value="{{this.reviewData._id}}"> 
                {{#each this.reviewData.comments}}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                             <label class="commentUsername">{{this.userName}}</label>
                        </h4>
                    </div>
                    <div class="panel-body">
                        <label class="commentField" id="{{this._id}}" value={{this._id}}>{{this.text}}</label>
                        <button id="edit{{this._id}}" class="editComment" onclick="editcomment()" value={{this._id}}
                            style="display: {{this.canUpdate}}">Edit</button>
                        <button type="button" id="delete{{this._id}}" class="deleteComment" onclick="deletecomment()" value={{this._id}}
                            style="display: {{this.canUpdate}}">Delete</button>
                    </div>
                </div>
                {{/each}}
                <div class="error" id="error{{this.reviewData._id}}" hidden=true>Please enter valid comment.</div>
                <textarea class="commentTextarea" id="commentTextarea{{this.reviewData._id}}" rows="4" cols="50" value="" hidden=true></textarea>
                <button id="commentDoneButton{{this.reviewData._id}}" class="commentDone" onclick="submitComment()" value={{this.reviewData._id}} hidden=true>Done</button>

            </div>
            <div class = "optReview">
                <button id="commentButton{{this.reviewData._id}}" value="{{this.reviewData._id}}" onclick="addComment()" class="btn btn-default"> Leave a comment</button>       
                {{#if this.currentUser}}
                <button type="button" id="deleteButton{{this.reviewData._id}}" onclick="deletereview()" class="btn btn-default"  value={{this.reviewData._id}}> Delete</button>
                {{/if}}
            </div>
        </div>
    </div>
    <br/>
    {{/each}}
    <br/>
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">Leave Your Review</h3>
        </div>
        <div class="panel-body">
            <form id = "reviewForm" role="form" action="/review" method="POST">
                <div class="form-group">
                    <label for="rating">Rating this house：</label>
                    <select class="form-control" name="rating">
                        <option>5</option>
                        <option>4</option>
                        <option>3</option>
                        <option>2</option>
                        <option>1</option>
                    </select>
                    <label for="review">Review:</label>
                    <textarea class="form-control" rows="5" name = "reviewText"></textarea>
                    <input type="hidden" name="houseId" value="{{houseId}}"> 　
                    <button type="submit" class="btn btn-default">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript" src="/public/js/favouriteHouse.js"></script>
<script type="text/javascript" src="/public/js/house.js"></script>
<script type="text/javascript" src="/public/js/review.js"></script>
 <script type="text/javascript" src="/public/js/comment.js"></script>